body {
  margin: 0;
  padding: 0;
  border: 0;
}

#wrap {
  width: 800px;
  margin: 0 auto 0 auto;
  text-align: center;
}

#actions_list li {
  cursor: pointer;
}

#actions_list li.inactive {
  text-decoration: line-through;
}

#actions_list li.selected {
  font-weight: bold;
  color: blue;
}