@import url(http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911);

body {
  margin: 0;
  padding: 0;
  border: 0;
}

#wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

#playfield, #ending_good, #ending_bad {
  margin-top:10px;
  width: 800px;
  height: 600px;
}

#game_intro {
  display: none; /* starting state */
  width: 800px;
  height: 600px;
  background-color: black;
  position: relative;
}

#game_intro img {
  display: block;
  opacity: 0;
  margin: 40px auto 80px auto;
  border-radius: 5px;
}

#game_intro_text {
  width: 600px;
  margin: 0 auto 0 auto;
}

#game_intro_text > div {
  font-family: 'Goudy Bookletter 1911';
  font-size: 36px;
  color: white;
  opacity: 0;
  width: 650px;
  position: absolute;
  text-align: center;
}

#ending_good {
  display: none;
  background-image: url('./img/bg/ending_win.png');
}

#ending_bad {
  display: none;
  background-image: url('./img/bg/ending_lose.png');
}