@import "mixins.scss";

.health_bar {
    position:relative;
    width:558px;
    height:48px;
    top:12px;
    left:12px;
    background:rgba(#eee, 0.5);

    .fill {
        float:left;
        height:100%;
        width:0%;
        background:url(../img/health_bar.png);
    }

    .empty {
        float:left;
        height:100%;
        width:0%;
        background:url(../img/health_bar_damage.gif);
    }
}

.jcvd_bar {
    float:left;
    position:relative;
    width:596px;
    height:192px;

    &:after {
        content:"\00a0";
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background:url(../img/jcvd_bar.png);
    }
    /*
    background-image:url(../img/jcvd_bar_left.png), url(../img/jcvd_bar_right.png), url(../img/jcvd_bar_center.png);
    background-position:left top, right top, center top;
    background-repeat:no-repeat, no-repeat, repeat-x;
    */

    .fill,
    .empty {
        float:left;
        background-position:top left;
    }
}
